<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.edu.java.dto.ApplicationDto" alias="appDto" />
		<typeAlias type="com.edu.java.dto.CourseDto" alias="courseDto" />
		<typeAlias type="com.edu.java.dto.FaqDto" alias="faqDto" />
		<typeAlias type="com.edu.java.dto.NoticeDto" alias="noticeDto" />
		<typeAlias type="com.edu.java.dto.QnaDto" alias="qnaDto" />
		<typeAlias type="com.edu.java.dto.ReviewDto" alias="reviewDto" />
		<typeAlias type="com.edu.java.dto.UserDto" alias="userDto" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/mapper.xml" />
	</mappers>
</configuration>