<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application">

	<select id="getApplicationList" parameterType="pageDto" resultType="hashmap">
		<![CDATA[
			SELECT
				  @rownum:=@rownum +1 as rnum
				, c.course_title
				, u.user_no
				, u.user_name
				, DATE_FORMAT(a.input_date, '%Y-%m-%d') as input_date
				, DATE_FORMAT(c.start_date, '%Y-%m-%d') as start_date
				, DATE_FORMAT(c.expire_date, '%Y-%m-%d') as expire_date
			FROM application a, course c, user u, (SELECT @rownum:=0) R
			WHERE a.user_no = u.user_no  
			  AND c.seq = a.seq 
			  AND c·course_title LIKE CONCAT('%', #{keyword}, '%')
			ORDER BY rnum DESC
			LIMIT ${cri.pageStart}, ${cri.amount}
		]]>
	</select>
	
	<select id="getAppCount" parameterType="pageDto" resultType="int">
		SELECT
			COUNT(a.app_seq) as TOTAL_COUNT
		FROM application a
		  LEFT JOIN course c ON a.app_seq = c.course_seq
		WHERE c.course_title LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<select id="getAppDetail" parameterType="hashMap" resultType="applicationDto">
		SELECT
			  c.course_seq
			, a.app_seq
			, c.course_title
			, c.course_category
			, c.course_type
			, c.course_start_time
			, c.class_hour
			, DATE_FORMAT(c.start_date, '%Y-%m-%d') as start_date
			, DATE_FORMAT(c.expire_date, '%Y-%m-%d') as expire_date
			, u.user_no
			, u.user_name
			, u.user_email
			, u.user_phone
			, u.user_address
			, DATE_FORMAT(a.input_date, '%Y-%m-%d') as input_date
			, a.tuition
		FROM application a
		  LEFT JOIN course c ON a.seq = c.seq
		  LEFT JOIN user u ON c.user_no = u.user_no
		WHERE a.input_date = #{input_date}
	</select>
	
	
</mapper>