<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="course">
  	<insert id="courseInsertRes" parameterType="courseDto" keyProperty="c_no">
  		INSERT INTO COURSE
  		(		  C_NO
  				, USER_NO
  				, C_NAME
  				, C_ADDR
  				, C_CATEGORY
  				, C_TYPE
  				, C_TIME
  				, C_DETAIL
  				, ENT_PERSONNEL
  				, C_REGDATE
  				, C_INIT_WRITER
  				, C_START_DATE
  				, C_LAST_DATE
  		)
  		VALUES (
  				 (SELECT IFNULL(MAX(C.C_NO),0) + 1 FROM COURSE C)
  				, #{user_no}
  				, #{c_name}
  				, #{c_addr}
  				, #{c_category}
  				, #{c_type}
  				, #{c_time}
  				, #{c_detail}
  				, #{ent_personnel}
  				, NOW()
  				, #{c_init_writer}
  				, #{c_start_date}
  				, #{c_last_date}
  		)
  	</insert>
  	
  	
  	<update id="courseUpdateRes">
  		UPDATE COURSE
  		SET   C_NAME = #{c_name}
  			, C_ADDR = #{c_addr}
  			, C_CATEGORY = #{c_category}
  			, C_TYPE = #{c_type}
  			, C_TIME = #{c_time}
  			, C_DETAIL = #{c_detail}
  			, ENT_PERSONNEL = #{ent_personnel}
  			, C_UPD_DATE = #{c_upd_date}
  			, C_UPD_WRITER = #{c_upd_writer}
  		WHERE C_NO = #{c_no}
  	</update>
  	
  	<delete id="courseDelete">
  		DELETE
  		FROM COURSE
  		WHERE C_NO = #{c_no}
  	</delete>
  </mapper>