<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="course">
  	<select id="courseList" resultType="courseDto">
  		SELECT 
					@rownum:=@rownum +1 as rnum
					, C_NO
					, C_NAME
					, APP_PERSONNEL
					, ENT_PERSONNEL
					, DATE_FORMAT(C_REGDATE, '%Y-%m-%d') as C_REGDATE
					, DATE_FORMAT(C_START_DATE, '%Y-%m-%d') as C_START_DATE
					, DATE_FORMAT(C_LAST_DATE, '%Y-%m-%d') as C_LAST_DATE
					
			FROM mydb.COURSE C, (SELECT @rownum:=0) R
			
			WHERE C_NAME like CONCAT('%', #{keyword} , '%')
			
			ORDER BY rnum DESC
			
			LIMIT ${startPage}, ${endPage}
  	</select>
  	
  	<select id="courseDetail" parameterType="list" resultType="courseDto">
  		SELECT 
  				C_NO
  			  , C_NAME
  			  , C_CATEGORY
  			  , C_TYPE
  			  , C_START_TIME
  			  , C_TIME
  			  , DATE_FORMAT(C_START_DATE, '%Y-%m-%d') as C_START_DATE
  			  , DATE_FORMAT(C_LAST_DATE, '%Y-%m-%d') as C_LAST_DATE
  			  , ENT_PERSONNEL
  			  , DATE_FORMAT(APP_START_DATE, '%Y-%m-%d') as APP_START_DATE
  			  , DATE_FORMAT(APP_LAST_DATE,  '%Y-%m-%d') as APP_LAST_DATE
  			  , DATE_FORMAT(C_REGDATE, '%Y-%m-%d') as C_REGDATE
  			  , C_DETAIL
  			  
  		FROM mydb.COURSE
  		
  		WHERE C_NO = #{c_no}
  	</select>
  	
  	<!-- 교육 신청 -->
  	<insert id="courseAppInsert">
  		INSERT INTO mydb.APPLICATION
  		(				APP_NO
  					  , C_NO
					  , USER_NO
					  , C_NAME
					  , C_CATEGORY
					  , C_TYPE
					  , C_TIME
					  , C_DETAIL
					  , C_START_DATE
					  , C_LAST_DATE
					  , C_START_TIME 
					  , APP_START_DATE
					  , APP_LAST_DATE
					  , APP_DATE
			)
			VALUES
			(		   (SELECT IFNULL(MAX(A.APP_NO),0) + 1 FROM mydb.APPLICATION A)  
					 , #{c_no}
					 , #{user_no}
					 , #{c_name}
					 , #{c_category}
					 , #{c_type}
					 , #{c_time}
					 , #{c_detail}
					 , #{c_start_date}
					 , #{c_last_date}
					 , #{c_start_time}
					 , #{app_start_date}
					 , #{app_last_date}
					 , NOW()
			)
  	</insert>
  
  </mapper>